
node_modules/
**/node_modules/


.env
.env.*
**/env.ts
**/config/env.ts


dist/
build/
out/


logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


.DS_Store
Thumbs.db


.vscode/
.idea/


*.tsbuildinfo